<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Algo</servlet-name>
        <servlet-class>com.jc.controladores.ServletHola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutenticar</servlet-name>
        <servlet-class>com.jc.controladores.ServletAutenticar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarDiscos</servlet-name>
        <servlet-class>com.jc.controladores.ServletGuardarDiscos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPeliculaInsertar</servlet-name>
        <servlet-class>com.jc.controladores.ServletPeliculaInsertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDiscosInsertar</servlet-name>
        <servlet-class>com.jc.controladores.ServletDiscosInsertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletClienteInsertar</servlet-name>
        <servlet-class>com.jc.controladores.ServletClienteInsertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTiendaInsertar</servlet-name>
        <servlet-class>com.jc.controladores.ServletTiendaInsertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletClientesInsertar</servlet-name>
        <servlet-class>com.jc.controladores.ServletClienteInsertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVendedorInsertar</servlet-name>
        <servlet-class>com.jc.controladores.ServletVendedorInsertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertAutomovil</servlet-name>
        <servlet-class>com.jc.controladores.ServletInsertAutomovil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPropietario</servlet-name>
        <servlet-class>com.jc.controladores.ServletPropietario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConcesionario</servlet-name>
        <servlet-class>com.jc.controladores.ServletConcesionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarAutomovil</servlet-name>
        <servlet-class>com.jc.controladores.ServletGuardarAutomovil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConcesionario_1</servlet-name>
        <servlet-class>com.jc.controladores.ServletConcesionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarAutomovil</servlet-name>
        <servlet-class>com.jc.controladores.ServletGuardarAutomovil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertAutomovil</servlet-name>
        <servlet-class>com.jc.controladores.ServletInsertAutomovil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPropietario</servlet-name>
        <servlet-class>com.jc.controladores.ServletPropietario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Algo</servlet-name>
        <url-pattern>/hola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAutenticar</servlet-name>
        <url-pattern>/autenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarDiscos</servlet-name>
        <url-pattern>/guardar-discos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPeliculaInsertar</servlet-name>
        <url-pattern>/insertar-pelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDiscosInsertar</servlet-name>
        <url-pattern>/insertar-discos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClienteInsertar</servlet-name>
        <url-pattern>/insertar-cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTiendaInsertar</servlet-name>
        <url-pattern>/insertar-tienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClientesInsertar</servlet-name>
        <url-pattern>/insertar-clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVendedorInsertar</servlet-name>
        <url-pattern>/insertar-vendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertAutomovil</servlet-name>
        <url-pattern>/ServletInsertAutomovil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPropietario</servlet-name>
        <url-pattern>/ServletPropietario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConcesionario</servlet-name>
        <url-pattern>/ServletConcesionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarAutomovil</servlet-name>
        <url-pattern>/ServletGuardarAutomovil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConcesionario_1</servlet-name>
        <url-pattern>/ServletConcesionario_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarAutomovil</servlet-name>
        <url-pattern>/ServletGuardarAutomovil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertAutomovil</servlet-name>
        <url-pattern>/ServletInsertAutomovil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPropietario</servlet-name>
        <url-pattern>/ServletPropietario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    </web-app>
